* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: "Bahnschrift", monospace;
}

a {
  text-decoration: none;
  color: rgb(38, 38, 38);
}

h1 {
  color: rgb(38, 38, 38);
  font-size: 2rem;
}

h2 {
  color: rgb(38, 38, 38);
  font-size: 0.8rem;
}

p {
  color: rgb(38, 38, 38);
  font-size: 1rem;
}

.margen-superior {
  padding: 1rem;
}

.titulo-bienvenida {
  font-size: 3rem;
  padding-top: 5rem;
  font-family: "Rubik", monospace;
  background-color: #ecd9b1;
}

.texto-bienvenida {
  font-size: 1.8rem;
  padding-top: 2rem;
  background-color: #ecd9b1;
  padding-bottom: 2rem;
}

.titulo-crochet {
  margin-top: 4rem;
  padding: 2rem;
  background-color: #ecd9b1;
  border-radius: 2rem;
}

.carousel-texto {
  border-radius: 1rem;
  padding-bottom: 1rem;
  background-color: #d7c6a1;
  color: rgb(38, 38, 38);
}
.carousel-texto .carousel {
  color: rgb(38, 38, 38);
  font-size: 1.1rem;
}

header {
  background-color: #c7ba9f;
  border-bottom-style: ridge;
  border-color: #d7c6a1;
}

.encabezado {
  background-image: url(/img/punto8.jpg);
  background-color: #d7c6a1;
  min-height: 24rem;
  width: 100%;
}

.menu-hamburguesa {
  background-color: #c7ba9f;
  min-height: 8rem;
  border-radius: 4rem;
  margin: 3rem;
}
.menu-hamburguesa .logo {
  background-color: #c7ba9f;
  padding-left: 2rem;
}
.menu-hamburguesa .logo-offcavas {
  background-color: antiquewhite;
}
.menu-hamburguesa .item-menu-hamburguesa {
  background-color: #c7ba9f;
  padding-right: 3rem;
  font-size: 1.2rem;
}
.menu-hamburguesa .item-menu-hamburguesa a:hover {
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: 0.5rem;
}
.menu-hamburguesa .icono-menu-hamburguesa {
  padding: 1rem;
  background-color: #c7ba9f;
}
.menu-hamburguesa .titulo-menu-hamburguesa {
  color: rgb(38, 38, 38);
  background-color: #c7ba9f;
}

.seccion-principal {
  background-color: #ecd9b1;
}

.seccion-central {
  padding-top: 5rem;
}

.seccion-patrones {
  padding-bottom: 5rem;
}

.tarjeta-Tips {
  background-color: #d6ce93;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

.tarjeta-Crochet {
  background-color: #a3a380;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

.tarjeta-Agujas {
  background-color: #d8a48f;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

.tarjeta-patron {
  padding-top: 6rem;
}

.boton-seccion :hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.crochet {
  background-color: #a3a380;
}
.crochet .crochet-texto {
  background-color: #a3a380;
}

.agujas {
  background-color: #d8a48f;
}
.agujas .agujas-texto {
  background-color: #d8a48f;
}

.tarjeta-seccion-tip {
  background-color: #d7c6a1;
  margin: 1rem;
  border-radius: 2rem;
}

.carousel-transicion {
  transition-duration: 3s;
}

footer {
  background-color: #ecd9b1;
  border-top-style: ridge;
  border-color: #d7c6a1;
}
footer .pie-pagina {
  background-color: #ecd9b1;
  padding: 1rem;
}
footer .pie-pagina .menu-pie {
  background-color: #ecd9b1;
  padding-left: 1rem;
  padding-right: 1rem;
}
footer .pie-pagina .menu-pie .menu-pie-item {
  font-size: 1.1rem;
  color: rgb(38, 38, 38);
  padding-top: 2rem;
}
footer .pie-pagina .menu-pie :hover {
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: 0.5rem;
}
footer .pie-pagina .pie-icono {
  background-color: #ecd9b1;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .pie-pagina .pie-icono .menu-pie-icono {
  background-color: #ecd9b1;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
footer .pie-pagina .pie-icono .menu-pie-icono .imagen-pie-icono {
  background-color: #ecd9b1;
  padding-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
