
header{
    background-color: $colorHeader;
    border-bottom-style:ridge;
    border-color: $colorBorderHeader;
}
.encabezado{
    background-image: url(#{$assetPath}/punto2.jpg);
    background-color: $colorBorderHeader;
    min-height: 24rem;
    width: 100%;
}
.menu-hamburguesa{
    background-color: $colorHeader;
    min-height: 8rem;
    border-radius: 4rem;
    margin: 3rem;
      
    .logo{
        background-color: $colorHeader;
        padding-left: 2rem;
    }
    .logo-offcavas{
        background-color: $colorFondo;
    }
        
    .item-menu-hamburguesa{
        background-color: $colorHeader;
        padding-right: 3rem;
        font-size: 1.2rem;
        
        a:hover {
            text-decoration: underline;
            text-underline-position: below;
            text-underline-offset: 0.5rem;
        }         
    }

    .icono-menu-hamburguesa{
        padding: 1rem;
        background-color: $colorHeader;
        }
    .titulo-menu-hamburguesa{
        color: $colorTexto;
        background-color: $colorHeader;
    }
}
    








