header{
    background-color: $colorHeader;
}

.encabezado{
    background-color:$colorFondo;
    list-style-type: none;     
}

.menu-encabezado {
    color: $colorTexto;
    padding: 2rem;
    background-color:$colorFondo;     
}