footer{
    background-color:$colorPie;
    border-top-style:ridge;
    border-color: $colorBorderHeader;
}

.pie-pagina{
    background-color:$colorPie; 
    padding: 1rem; 
    
    .menu-pie {
        
        background-color:$colorPie;
        padding-left: 1rem;
        padding-right: 1rem;

        .menu-pie-item{
            font-size: 1.1rem;
            color: $colorTexto;
        }
    }
}

.pie-icono {
    background-color:$colorPie;
    list-style-type: none; 
    display: flex;
    justify-content: center;
    align-items: center; 

    .menu-pie-icono{
        background-color:$colorPie;
        padding-bottom: 2rem;
        padding-left: 1rem; 
        padding-right: 1rem;   
    }    
}

