@import "./variables";


.seccion-central{
    padding-top: 5rem;
}

.seccion-patrones{
    padding-bottom: 5rem;
}


@each $tarjetas,$colorFondoTarjetas in $colorFondoTarjetas{

    .tarjeta-#{$tarjetas}{
        background-color: $colorFondoTarjetas;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 2rem;
    }
}

.tarjeta-patron{
    padding-top:6rem;
}

.boton-seccion{
    :hover{transform: scale3d(1.1,1.1,1.1);}
}

.crochet{
    background-color: map-get($map: $colorFondoTarjetas, $key: Crochet);

    .crochet-texto{
        background-color: map-get($map: $colorFondoTarjetas, $key: Crochet);
    }
}

.agujas{
    background-color: map-get($map: $colorFondoTarjetas, $key: Agujas);

    .agujas-texto{
        background-color: map-get($map: $colorFondoTarjetas, $key: Agujas);
    }
}

.tarjeta-seccion-tip{

    background-color: $colorBorderHeader;
    margin: 1rem;
    border-radius: 2rem;
}

.hola{
    background-color: $colorBorderHeader;
    :hover{background-color: $colorBorderHeader;}
}