$colorFondo:antiquewhite;
$colorHeader:#c7ba9f;
$colorBorderHeader:#d7c6a1;
$colorPie:#ecd9b1;
$colorFondoTarjetas: (Tips:#d6ce93,Crochet:#a3a380,Agujas:#d8a48f);
$colorTexto:rgb(38, 38, 38);

$fuentePrincipal: "Bahnschrift";
$fuenteTituloPrincipal: "Rubik";

$assetPath :"/img";